<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

<style>
  template{
    display: none;
  }
</style>

<div id="my-dashboard"></div>

<template name="dashboard">
  <div class="dashboard">
    <div class="dashboard-header">
      <h3>Dashboard</h3>
      <form bind-data="formAddList">
        <input placeholder="New To-do List" bind-data="inputListName" />
        <button type="submit">Create List</button>
      </form>
    </div>
    <div class="dashboard-body">
      <div class="row" bind-data="lists">
      </div>
    </div>
  </div>
</template>

<template name="todo-list">
  <div class="tdlist">
    <div class="tdlist-header">
      <div bind-data="notEditing">
        <span bind-data="name">
        </span>
        <div bind-data="btnAddItem">
          Add Item
        </div>
        <div bind-data="btnDelete">
          Delete
        </div>
      </div>
      <div bind-data="editing">
        <form bind-data="formEditList">
          <input bind-data="inputName" placeholder="List name" />
          <button type="submit">Save</button>
        </form>
      </div>
    </div>
    <div class="tdlist-body">
      <form bind-data="formAddItem">
        <input placeholder="New Item" bind-data="inputItemDescription" />
        <button type="submit">Add Item</button>
      </form>
      <ul bind-data="items">
      </ul>
    </div>
  </div>
</template>

<template name="todo-item">
  <li>
    <input type="checkbox" bind-data="checkbox" />
    <span bind-data="label"></span>
    <div bind-data="btnDelete">
      Delete
    </div>
  </li>
</template>

<script type="text/javascript" src="javascripts/windowReopen.js"></script>
<script type="text/javascript" src="javascripts/Template.js"></script>
<script type="text/javascript" src="javascripts/ModelView.js"></script>
<script type="text/javascript" src="javascripts/Dashboard.js"></script>
<script type="text/javascript" src="javascripts/TodoList.js"></script>
<script type="text/javascript" src="javascripts/TodoItem.js"></script>
<script type="text/javascript" src="javascripts/script.js"></script>